@import url(./fonts.css);

:root {
    color-scheme: light dark;

    --primary1: transparent;
    --surface1: transparent;
    --text: transparent;

    --tool-button-border: var(--surface1);
    --tool-button-bg-hover: var(--surface1);
    --tool-button-text: var(--text);
    --tool-button-focus-shadow: var(--shadow);
}

html[data-theme="light"] {
    --brand-hue: 230;
    --surface1: hsl(var(--brand-hue), 46%, 96%);
    --surface2: hsl(var(--brand-hue), 100%, 100%);
    --code: hsl(var(--brand-hue), 100%, 94%);
    --text: hsl(var(--brand-hue), 32%, 32%);
    --primary1: hsl(var(--brand-hue), 64%, 58%);
    --primary2: hsl(var(--brand-hue), 64%, 42%);

    --text-decoration-color: hsl(var(--brand-hue), 64%, 58%, 46%);

    --shadow: hsla(0, 0%, 0%, 0.03) 0 1px 30px, hsla(0, 0%, 0%, 0.05) 0 1px 2px;

    --loading-skeleton-background: hsl(var(--brand-hue), 46%, 100%);
    --loading-skeleton-foreground: hsl(var(--brand-hue), 100%, 98%);

    --activity-header-background: hsla(var(--brand-hue), 100%, 100%, 86%);
}

html[data-theme="dark"] {
    --brand-hue: 230;
    --surface1: hsl(var(--brand-hue), 20%, 24%);
    --surface2: hsl(var(--brand-hue), 20%, 16%);
    --code: hsl(var(--brand-hue), 20%, 32%);
    --text: hsl(var(--brand-hue), 58%, 82%);
    --primary1: hsl(var(--brand-hue), 90%, 75%);
    --primary2: hsl(var(--brand-hue), 90%, 85%);

    --text-decoration-color: hsl(var(--brand-hue), 90%, 75%, 46%);

    --shadow: hsla(0, 0%, 0%, 0.03) 0 1px 30px, hsla(0, 0%, 0%, 0.05) 0 1px 2px;

    --loading-skeleton-background: hsl(var(--brand-hue), 20%, 18%);
    --loading-skeleton-foreground: hsl(var(--brand-hue), 20%, 22%);

    --activity-header-background: hsla(var(--brand-hue), 20%, 16%, 86%);
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;

    background-color: var(--code);
    padding: 0.36rem;
    border-radius: 6px;
}

* {
    box-sizing: border-box;
}

body,
button,
input,
textarea {
    font-family: "Nunito", system-ui, -apple-system, Segoe UI, Roboto, Ubuntu,
        Cantarell, Noto Sans, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    position: relative;
    text-decoration: none;
    color: var(--primary1);
    white-space: pre-wrap;
    overflow-wrap: anywhere;
}

a:hover {
    color: var(--primary2);
}

body {
    min-block-size: 90vh;
    margin: 0;
    padding: 0;
    position: relative;

    background-color: var(--surface1);
    color: var(--text);
}

video {
    inline-size: 100%;
    border-radius: 16px;
    box-shadow: var(--shadow);
}

img {
    inline-size: 100%;
    border-radius: 16px;
    box-shadow: var(--shadow);
    margin-block: 1rem;
}

#nprogress .bar {
    background: var(--primary1) !important;
    height: 3.4px !important;
    border-radius: 6px !important;
}

#nprogress .spinner {
    display: none !important;
}

.no-fill {
    fill: none !important;
}

.container {
    max-inline-size: 960px;
    inline-size: 100%;

    margin-inline: auto;
    margin-block: 0;

    display: grid;
    gap: 1.5rem;
}

.container.flex {
    display: flex;
    flex-direction: column;
}

.skills-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.w-100 {
    width: 100%;
}

.text-center {
    text-align: center;
}

.show-on-sm-screen {
    display: none;
}

@media (max-width: 440px) {
    .hide-on-sm-screen {
        display: none;
    }

    .show-on-sm-screen {
        display: unset;
    }
}

@media (min-width: 576px) {
    .container {
        max-width: 540px;
        margin-block: 1.5rem;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }

    .profile {
        grid-row: 1;
        grid-column: 1/4;
    }

    .basic-info {
        grid-row: 2;
        grid-column: 1/4;
    }

    .contact-info {
        grid-row: 3;
        grid-column: 1/2;
    }

    .languages {
        grid-row: 3;
        grid-column: 2/4;
    }

    .skills {
        grid-row: 4;
        grid-column: 1/4;
    }

    .activities {
        grid-row: 5;
        grid-column: 1/4;
    }

    .contributions {
        grid-row: 6;
        grid-column: 1/4;
    }

    .back-to-top {
        grid-row: 7;
        grid-column: 1/4;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }

    .profile {
        grid-row: 1;
        grid-column: 1/4;
    }

    .basic-info {
        grid-row: 2/4;
        grid-column: 1/3;
    }

    .contact-info {
        grid-row: 2/3;
        grid-column: 3/4;
    }

    .languages {
        grid-row: 3/4;
        grid-column: 3/4;
    }

    .skills {
        grid-row: 4;
        grid-column: 1/4;
    }

    .activities {
        grid-row: 5;
        grid-column: 1/4;
    }

    .contributions {
        grid-row: 6;
        grid-column: 1/4;
    }

    .back-to-top {
        grid-row: 7;
        grid-column: 1/4;
    }
}
@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}
