@import url(./fonts.css);

:root {
    color-scheme: light dark;

    --primary1: transparent;
    --surface1: transparent;
    --text: transparent;

    --tool-button-border: var(--surface1);
    --tool-button-bg-hover: var(--surface1);
    --tool-button-text: var(--text);
    --tool-button-focus-shadow: var(--shadow);
}

html[data-theme="light"] {
    --brand-hue: 230;
    --surface1: hsl(var(--brand-hue), 46%, 96%);
    --surface2: hsl(var(--brand-hue), 100%, 100%);
    --code: hsl(var(--brand-hue), 100%, 94%);
    --text: hsl(var(--brand-hue), 32%, 32%);
    --primary1: hsl(var(--brand-hue), 64%, 58%);
    --primary2: hsl(var(--brand-hue), 64%, 42%);

    --text-decoration-color: hsl(var(--brand-hue), 64%, 58%, 46%);

    --shadow: hsla(0, 0%, 0%, 0.03) 0 1px 30px, hsla(0, 0%, 0%, 0.05) 0 1px 2px;

    --scrollbar-thumb-bg: hsl(var(--brand-hue), 16%, 64%);
    --scrollbar-track-bg: transparent;
    --scrollbar-corner-bg: transparent;

    --loading-skeleton-background: hsl(var(--brand-hue), 46%, 100%);
    --loading-skeleton-foreground: hsl(var(--brand-hue), 100%, 98%);
}

html[data-theme="dark"] {
    --brand-hue: 230;
    --surface1: hsl(var(--brand-hue), 20%, 24%);
    --surface2: hsl(var(--brand-hue), 20%, 16%);
    --code: hsl(var(--brand-hue), 20%, 32%);
    --text: hsl(var(--brand-hue), 58%, 82%);
    --primary1: hsl(var(--brand-hue), 90%, 75%);
    --primary2: hsl(var(--brand-hue), 90%, 85%);

    --text-decoration-color: hsl(var(--brand-hue), 90%, 75%, 46%);

    --shadow: hsla(0, 0%, 0%, 0.03) 0 1px 30px, hsla(0, 0%, 0%, 0.05) 0 1px 2px;

    --scrollbar-thumb-bg: hsl(var(--brand-hue), 24%, 42%);
    --scrollbar-track-bg: transparent;
    --scrollbar-corner-bg: transparent;

    --loading-skeleton-background: hsl(var(--brand-hue), 20%, 18%);
    --loading-skeleton-foreground: hsl(var(--brand-hue), 20%, 22%);
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;

    background-color: var(--code);
    padding: 0.36rem;
    border-radius: 6px;
}

* {
    scrollbar-width: thin;
    scrollbar-color: var(--scrollbar-thumb-bg) var(--scrollbar-track-bg);
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    background-color: var(--scrollbar-track-bg);
}

::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-thumb-bg);
}

::-webkit-scrollbar-corner {
    background-color: var(--scrollbar-corner-bg);
}

* {
    box-sizing: border-box;
}

body,
button,
input,
textarea {
    font-family: "Nunito", system-ui, -apple-system, Segoe UI, Roboto, Ubuntu,
        Cantarell, Noto Sans, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    position: relative;
    text-decoration: none;
    color: var(--primary1);
    white-space: nowrap;
}

a:hover {
    color: var(--primary2);
}

body {
    min-block-size: 90vh;
    margin: 0;
    padding: 0;
    position: relative;

    background-color: var(--surface1);
    color: var(--text);
}

video {
    inline-size: 100%;
    border-radius: 16px;
    box-shadow: var(--shadow);
}

img {
    inline-size: 100%;
    border-radius: 16px;
    box-shadow: var(--shadow);
    margin-block: 1rem;
}

.styled-link {
    text-decoration: underline;
    text-decoration-style: dotted;
    text-decoration-color: var(--text-decoration-color);
    text-decoration-thickness: from-font;
    text-underline-offset: 0.42rem;

    transition: all 0.16s linear;
}

.styled-link:hover {
    text-decoration-color: var(--primary2);
    text-underline-offset: 0.26rem;
    text-decoration-style: wavy;
}

.styled-link:focus-visible {
    text-decoration: none;
}

.styled-link:visited,
.styled-link:active {
    color: var(--text);
    text-decoration-color: var(--text);
}

.activity-description {
    backdrop-filter: contrast(0.92);
    border-radius: 16px;
    padding: 1rem;
}

.container {
    max-inline-size: 960px;
    inline-size: 100%;

    margin-inline: auto;
    margin-block: 0;

    display: grid;
    gap: 1.5rem;

    grid-template-areas:
        "profile"
        "basic-info"
        "contact-info"
        "languages"
        "skills"
        "activities"
        "contributions";
}

.container.flex {
    display: flex;
    flex-direction: column;
}

.data-row {
    padding-inline: 1rem;
}

.data-row__label {
    color: hsl(var(--text2));
    margin-block-end: 1rem;
}

.data-row__value {
    font-weight: 600;
    font-size: 1.2rem;
    padding-inline: 0.64rem;
}

.data-row__value p {
    margin: 0;
}

.card--skills .card__content {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.card--contributions .card-content {
    padding: 0;
}

.card--activities-details a {
    display: inline-block !important;
    inline-size: 100%;
}

@media (min-width: 576px) {
    .container {
        max-width: 540px;
        margin-block: 1.5rem;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;

        grid-template-areas:
            "profile profile profile"
            "basic-info basic-info basic-info"
            "contact-info languages languages"
            "skills skills skills"
            "activities activities activities"
            "contributions contributions contributions";
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;

        grid-template-areas:
            "profile profile profile"
            "basic-info basic-info contact-info"
            "basic-info basic-info languages"
            "skills skills skills"
            "activities activities activities"
            "contributions contributions contributions";
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}

#nprogress .bar {
    background: var(--primary1) !important;
    height: 3.4px !important;
    border-radius: 6px !important;
}

#nprogress .spinner {
    display: none !important;
}

.no-fill {
    fill: none !important;
}
