@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,500;0,600;0,700;0,900;1,600&display=swap");

@media (prefers-color-scheme: light) {
    :root {
        --brand-hue: 230;
        --surface1: hsl(var(--brand-hue), 0%, 98%);
        --surface2: hsl(var(--brand-hue), 100%, 100%);
        --text: hsl(var(--brand-hue), 32%, 32%);
        --primary1: hsl(var(--brand-hue), 64%, 58%);
        --primary2: hsl(var(--brand-hue), 64%, 42%);
        --shadow: hsla(0, 0%, 0%, 0.03) 0 1px 30px, hsla(0, 0%, 0%, 0.05) 0 1px 2px;

        --scrollbar-thumb-bg: hsl(var(--brand-hue), 16%, 64%);
        --scrollbar-track-bg: transparent;
        --scrollbar-corner-bg: transparent;
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --brand-hue: 230;
        --surface1: hsl(var(--brand-hue), 20%, 24%);
        --surface2: hsl(var(--brand-hue), 20%, 16%);
        --text: hsl(var(--brand-hue), 58%, 82%);
        --primary1: hsl(var(--brand-hue), 90%, 75%);
        --primary2: hsl(var(--brand-hue), 90%, 85%);
        --shadow: hsla(0, 0%, 0%, 0.03) 0 1px 30px, hsla(0, 0%, 0%, 0.05) 0 1px 2px;

        --scrollbar-thumb-bg: hsl(var(--brand-hue), 24%, 42%);
        --scrollbar-track-bg: transparent;
        --scrollbar-corner-bg: transparent;
    }
}

* {
    scrollbar-width: thin;
    scrollbar-color: var(--scrollbar-thumb-bg) var(--scrollbar-track-bg);
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    background-color: var(--scrollbar-track-bg);
}

::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-thumb-bg);
}

::-webkit-scrollbar-corner {
    background-color: var(--scrollbar-corner-bg);
}

* {
    box-sizing: border-box;
}

body,
button,
input,
textarea {
    font-family: "Nunito", sans-serif;
}

a {
    text-decoration: none;
    color: var(--primary1);
    white-space: nowrap;
}
a:hover {
    color: var(--primary2);
}

body {
    min-block-size: 100vh;
    margin: 0;
    padding: 0;

    background-color: var(--surface1);
    color: var(--text);
}

.container {
    max-inline-size: 960px;
    inline-size: 100%;

    padding-inline: 12px;
    margin-inline: auto;
    margin-block: 1.5rem;

    display: grid;
    gap: 1.5rem;

    grid-template-areas:
        "profile"
        "basic-info"
        "contact-info"
        "languages"
        "skills"
        "links"
        "activities";
}

@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;

        grid-template-areas:
            "profile profile profile"
            "basic-info basic-info basic-info"
            "contact-info languages links"
            "skills links links"
            "activities activities activities";
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;

        grid-template-areas:
            "profile profile profile"
            "basic-info basic-info contact-info"
            "basic-info basic-info languages"
            "skills links links"
            "skills activities activities";
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}

.profile {
    display: flex;
    flex-direction: column;
    gap: 0.64rem;
    align-items: center;
    justify-content: center;
}
.profile__avatar {
    padding: 1rem;
    border-radius: 999999px;
    background-color: var(--surface1);
}
.profile__avatar svg {
    stroke-linecap: round;
    stroke-linejoin: round;
    fill: var(--primary1);

    inline-size: 8rem;
}
.profile__name {
    font-size: 3.25rem;
    font-weight: 700;
}
.profile__description {
    font-weight: normal;
    letter-spacing: 1.5px;
    text-align: center;
}

.card {
    background-color: var(--surface2);
    border-radius: 10px;
    padding: 24px;

    inline-size: 100%;

    box-shadow: var(--shadow);
}
.card__header {
    font-size: 1.8rem;
    line-height: 1;

    margin-block-end: 1em;

    position: relative;
}
.card__header::after {
    content: "}";
    margin-inline-start: 0.32rem;

    color: hsl(var(--text2));
}

.card__header::before {
    content: "{";
    margin-inline-end: 0.32rem;

    color: hsl(var(--text2));
}
.card__content {
    display: grid;

    gap: 1rem;
}

.info {
    padding-inline: 1rem;
}
.info__caption {
    color: hsl(var(--text2));
}
.info__data {
    font-weight: 600;
    font-size: 1.2rem;
    padding-inline: 0.64rem;
}
.info__data p {
    margin: 0;
}

.profile {
    grid-area: profile;
}
.card--basic-info {
    grid-area: basic-info;
}
.card--contact-info {
    grid-area: contact-info;
}
.card--links {
    grid-area: links;
}
.card--languages {
    grid-area: languages;
}
.card--skills {
    grid-area: skills;
}
.card--activities {
    grid-area: activities;
}
