.card {
    background-color: var(--surface2);
    padding: 1.2rem;
    inline-size: 100%;
    box-shadow: var(--shadow);
}

.header {
    font-size: 1.8rem;
    line-height: 1;
    margin-block-end: 1em;
    position: relative;
}

.header::after {
    content: "}";
    margin-inline-start: 0.32rem;
    color: hsl(var(--text2));
}

.header::before {
    content: "{";
    margin-inline-end: 0.32rem;
    color: hsl(var(--text2));
}

.content {
    display: grid;
    gap: 1rem;
}

@media (min-width: 576px) {
    .card {
        border-radius: 16px;
    }
}
