.contribution {
    display: grid;
    gap: 1.4rem;

    overflow: hidden;
    padding: 1rem;

    border-radius: 16px;
    background-color: var(--surface1);
    box-shadow: var(--shadow);
}
