.header {
    position: sticky;
    top: 0;
    inline-size: 100%;
    z-index: 999;

    box-shadow: var(--shadow);

    padding: 0.64rem 1.2rem;
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    flex-wrap: wrap;
    align-items: center;

    background-color: var(--activity-header-background);
    backdrop-filter: blur(16px);
    border-radius: 0;
}

.backButton {
    color: var(--text);
    position: relative;
    background-color: transparent;
    padding: 0.24rem;
    border: 0.14rem solid var(--surface1);
    border-radius: 9999px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    font-size: 0;
}

.backButton:hover {
    background-color: var(--surface1);
}

@media (min-width: 576px) {
    .header {
        border-radius: 16px;
    }
}
