.pullRequest {
    display: flex;
    flex-wrap: wrap;
    gap: 0.24rem;

    padding-inline: 1rem;
    margin: 0;
    line-height: 1.6;
}

.creationDate {
    opacity: 0.86;
    font-size: 0.96rem;
    margin-inline-end: 0.24rem;
}

.title {
    display: inline-block;
    font-weight: 600;
    white-space: initial;
    text-wrap: balance;
}
