.title {
    font-weight: 600;
    font-size: 1.24rem;
    word-break: break-all;
    text-wrap: balance;
}

.description {
    opacity: 0.86;
}

.stats {
    display: flex;
    gap: 1rem;
}
