@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,500;0,600;0,700;0,900;1,600&display=swap");

@media (prefers-color-scheme: light) {
    :root {
        --brand-hue: 230;
        --surface1: hsl(var(--brand-hue), 46%, 96%);
        --surface2: hsl(var(--brand-hue), 100%, 100%);
        --code: hsl(var(--brand-hue), 100%, 94%);
        --text: hsl(var(--brand-hue), 32%, 32%);
        --primary1: hsl(var(--brand-hue), 64%, 58%);
        --primary2: hsl(var(--brand-hue), 64%, 42%);

        --shadow: hsla(0, 0%, 0%, 0.03) 0 1px 30px,
            hsla(0, 0%, 0%, 0.05) 0 1px 2px;

        --scrollbar-thumb-bg: hsl(var(--brand-hue), 16%, 64%);
        --scrollbar-track-bg: transparent;
        --scrollbar-corner-bg: transparent;

        --loading-skeleton-background: hsl(var(--brand-hue), 46%, 100%);
        --loading-skeleton-foreground: hsl(var(--brand-hue), 100%, 98%);
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --brand-hue: 230;
        --surface1: hsl(var(--brand-hue), 20%, 24%);
        --surface2: hsl(var(--brand-hue), 20%, 16%);
        --code: hsl(var(--brand-hue), 20%, 32%);
        --text: hsl(var(--brand-hue), 58%, 82%);
        --primary1: hsl(var(--brand-hue), 90%, 75%);
        --primary2: hsl(var(--brand-hue), 90%, 85%);

        --shadow: hsla(0, 0%, 0%, 0.03) 0 1px 30px,
            hsla(0, 0%, 0%, 0.05) 0 1px 2px;

        --scrollbar-thumb-bg: hsl(var(--brand-hue), 24%, 42%);
        --scrollbar-track-bg: transparent;
        --scrollbar-corner-bg: transparent;

        --loading-skeleton-background: hsl(var(--brand-hue), 20%, 18%);
        --loading-skeleton-foreground: hsl(var(--brand-hue), 20%, 22%);
    }
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;

    background-color: var(--code);
    padding: 0.36rem;
    border-radius: 6px;
}

* {
    scrollbar-width: thin;
    scrollbar-color: var(--scrollbar-thumb-bg) var(--scrollbar-track-bg);
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    background-color: var(--scrollbar-track-bg);
}

::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-thumb-bg);
}

::-webkit-scrollbar-corner {
    background-color: var(--scrollbar-corner-bg);
}

* {
    box-sizing: border-box;
}

body,
button,
input,
textarea {
    font-family: "Nunito", sans-serif, -apple-system, BlinkMacSystemFont,
        "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
        "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    position: relative;
    text-decoration: none;
    color: var(--primary1);
    white-space: nowrap;
}

a:hover {
    color: var(--primary2);
}

a::after {
    position: absolute;
    content: "";
    bottom: calc(50% - 4px);
    left: 100%;
    right: 100%;
    height: 0.16rem;
    border-radius: 999px;
    transform: translateY(14px);
    transition: right 275ms 0.3s, left 275ms;
    background-color: var(--primary2);
}

a:hover::after {
    right: 0;
    left: 0;
    transition: right 275ms;
}

body {
    min-block-size: 100vh;
    margin: 0;
    padding: 0;

    background-color: var(--surface1);
    color: var(--text);
}

.container {
    max-inline-size: 960px;
    inline-size: 100%;

    margin-inline: auto;
    margin-block: 0;

    display: grid;
    gap: 1.5rem;

    grid-template-areas:
        "profile"
        "basic-info"
        "contact-info"
        "languages"
        "skills"
        "activities"
        "contributions";
}

.profile {
    display: flex;
    flex-direction: column;
    gap: 0.64rem;
    align-items: center;
    justify-content: center;
}

.profile__avatar {
    position: relative;
}

.profile__avatar svg {
    stroke-linecap: round;
    stroke-linejoin: round;
}

.profile__avatar svg:first-of-type {
    position: absolute;
    width: 100%;
    height: 100%;
    stroke-width: 24;
    fill: var(--primary1);
    stroke: var(--primary1);
}

.profile__avatar svg:last-of-type {
    fill: var(--surface1);
    inline-size: 10rem;
    transform: scale(0.76);
}

.profile__name {
    font-size: 3.25rem;
    font-weight: 700;
    text-align: center;
}

.profile__description {
    font-weight: normal;
    letter-spacing: 1.5px;
    text-align: center;
}

.profile__links {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;

    margin-block-start: 1rem;
}

.profile__links a {
    padding-block-end: 0.14rem;
}

.profile__links a svg {
    inline-size: 2rem;
    vertical-align: middle;
}

.card {
    background-color: var(--surface2);
    padding: 24px;

    inline-size: 100%;

    box-shadow: var(--shadow);
}
.card__header {
    font-size: 1.8rem;
    line-height: 1;

    margin-block-end: 1em;

    position: relative;
}
.card__header::after {
    content: "}";
    margin-inline-start: 0.32rem;

    color: hsl(var(--text2));
}

.card__header::before {
    content: "{";
    margin-inline-end: 0.32rem;

    color: hsl(var(--text2));
}
.card__content {
    display: grid;

    gap: 1rem;
}

.data-row {
    padding-inline: 1rem;
}

.data-row__label {
    color: hsl(var(--text2));
}

.data-row__value {
    font-weight: 600;
    font-size: 1.2rem;
    padding-inline: 0.64rem;
}

.data-row__value p {
    margin: 0;
}

.profile {
    grid-area: profile;
}

.card--basic-info {
    grid-area: basic-info;
}

.card--contact-info {
    grid-area: contact-info;
}

.card--links {
    grid-area: links;
}

.card--languages {
    grid-area: languages;
}

.card--skills {
    grid-area: skills;
}

.card--skills .card__content {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.card--activities {
    grid-area: activities;
}

.card--contributions {
    grid-area: contributions;
}

.skill-card {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    border-radius: 6px;
    background-color: var(--surface1);
    flex: 1 auto;
}

.skill-card__logo {
    width: 48px;
    stroke-linecap: round;
    stroke-linejoin: round;
    color: var(--primary1);

    padding: 0.28rem;
    background-color: var(--surface2);
    border-radius: 6px;
}

.skill-card__name {
    font-weight: 600;
    font-size: 1.24rem;
}

.skill-card__level {
    font-size: 1.16rem;
}

.contribution {
    display: grid;
    gap: 1.4rem;

    overflow: hidden;
    padding: 1rem;

    border-radius: 16px;
    background-color: var(--surface1);
    box-shadow: var(--shadow);
}

.contribution__repo--title {
    font-weight: 600;
    font-size: 1.24rem;
}

.contribution__repo--description {
    opacity: 0.86;
}

.contribution__repo--stats {
    display: flex;
    gap: 1rem;
}

.contribution__pull-request {
    display: flex;
    flex-wrap: wrap;
    gap: 0.24rem;

    padding-inline: 1rem;
    margin: 0;
}

.contribution__pull-request--creation-date {
    opacity: 0.86;
    font-size: 0.96rem;
    margin-inline-end: 0.24rem;
}

.contribution__pull-request--title {
    display: inline-block;
    font-weight: 600;
    white-space: initial;
}

@media (min-width: 576px) {
    .container {
        max-width: 540px;
        margin-block: 1.5rem;
    }

    .card {
        border-radius: 16px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;

        grid-template-areas:
            "profile profile profile"
            "basic-info basic-info basic-info"
            "contact-info languages languages"
            "skills skills skills"
            "activities activities activities"
            "contributions contributions contributions";
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;

        grid-template-areas:
            "profile profile profile"
            "basic-info basic-info contact-info"
            "basic-info basic-info languages"
            "skills skills skills"
            "activities activities activities"
            "contributions contributions contributions";
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}

#nprogress .bar {
    background: var(--primary1) !important;
    height: 3.4px !important;
    border-radius: 6px !important;
}
